body
{
background-image: url("background.jpg");
background-size: cover;
}
.heading{
    width: 100%;
    text-align: left;
    font-family: 'Rubik Glitch', cursive;
    font-size: 30px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
.heading h3{
   display: inline;
   font-family: 'Rubik Glitch', cursive;
   font-size: 50px;
   color: #fff;
}
.heading button{
   float: right;
   border: 1px solid white;
   font-family: 'Bebas Neue', cursive;
   font-size: 30px;
   background-color: transparent;
   color: #fff;
 }
 
 #start, #status{
    font-size: 30px;
    font-family: 'Nerko One', cursive;
    font-weight: 500;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: white;
 }
 